.tooltip {
    position: fixed;
    padding: 7px 12px;
    border: 1px solid #b3c9ce;
    text-align: center;
    color: rgb(243, 237, 237);
    background: blueviolet;
  }

  .one {
      margin-top: 55px;
      margin-right: 35px;
      display: inline-block;
  }
  .two {
      margin-top: 5px;
      display: inline-block;
  }